[submodule ".janus/vim-airline"]
	path = .janus/vim-airline
	url = git@github.com:bling/vim-airline.git
[submodule ".janus/tern_for_vim"]
	path = .janus/tern_for_vim
	url = https://github.com/marijnh/tern_for_vim.git
[submodule ".janus/taboo.vim"]
	path = .janus/taboo.vim
	url = git@github.com:gcmt/taboo.vim.git
[submodule ".janus/vim-dispatch"]
	path = .janus/vim-dispatch
	url = https://github.com/tpope/vim-dispatch
