[submodule ".janus/vim-airline"]
	path = .janus/vim-airline
	url = git@github.com:bling/vim-airline.git
[submodule ".janus/tern_for_vim"]
	path = .janus/tern_for_vim
	url = https://github.com/marijnh/tern_for_vim.git
[submodule ".janus/taboo.vim"]
	path = .janus/taboo.vim
	url = git@github.com:gcmt/taboo.vim.git
[submodule ".janus/vim-dispatch"]
	path = .janus/vim-dispatch
	url = https://github.com/tpope/vim-dispatch
[submodule ".janus/vim-jsx"]
	path = .janus/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule ".janus/vim-rhubarb"]
	path = .janus/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb.git
[submodule ".janus/ale"]
	path = .janus/ale
	url = https://github.com/w0rp/ale
[submodule ".janus/deoplete.nvim"]
	path = .janus/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim
[submodule ".janus/autocomplete-flow"]
	path = .janus/autocomplete-flow
	url = https://github.com/wokalski/autocomplete-flow
[submodule ".janus/vim-hug-neovim-rpc"]
	path = .janus/vim-hug-neovim-rpc
	url = https://github.com/roxma/vim-hug-neovim-rpc
[submodule ".janus/nvim-yarp"]
	path = .janus/nvim-yarp
	url = https://github.com/roxma/nvim-yarp
[submodule ".janus/echodoc.vim"]
	path = .janus/echodoc.vim
	url = https://github.com/Shougo/echodoc.vim
[submodule ".janus/vim-flow"]
	path = .janus/vim-flow
	url = git://github.com/flowtype/vim-flow.git
[submodule ".janus/vim-go"]
	path = .janus/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule ".janus/fzf.vim"]
	path = .janus/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule ".janus/deoplete-go"]
	path = .janus/deoplete-go
	url = https://github.com/zchee/deoplete-go
[submodule ".janus/tsuquyomi"]
	path = .janus/tsuquyomi
	url = https://github.com/Quramy/tsuquyomi.git
[submodule ".janus/typescript-vim"]
	path = .janus/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule ".janus/vim-jsx-typescript"]
	path = .janus/vim-jsx-typescript
	url = https://github.com/peitalin/vim-jsx-typescript.git
[submodule ".janus/vim-obsession"]
	path = .janus/vim-obsession
	url = https://github.com/tpope/vim-obsession
[submodule ".janus/vim-graphql"]
	path = .janus/vim-graphql
	url = https://github.com/jparise/vim-graphql.git
[submodule ".janus/sorbet-lsp"]
	path = .janus/sorbet-lsp
	url = https://github.com/zackhsi/sorbet-lsp.git
[submodule ".janus/coc.nvim"]
	path = .janus/coc.nvim
	url = https://github.com/neoclide/coc.nvim
[submodule ".janus/ack.vim"]
	path = .janus/ack.vim
	url = git@github.com:mileszs/ack.vim.git
[submodule ".janus/nerdtree"]
	path = .janus/nerdtree
	url = https://github.com/preservim/nerdtree.git
